.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.modal-backdrop.show {
  z-index: 1;
}

/*preloader start*/
.nuxt-progress {
  position: fixed;
  width: 100%;
  display: block;
  background: url(../images/loading.gif) center no-repeat white;
  height: 100%;
}
/*preloader end*/

/*job post form-wizard start*/
.twitter-bs-wizard .twitter-bs-wizard-nav .step-number {
  border: 2px solid #423A3D !important;
  color: #EC1A3A;
}

.twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active .step-number {
  background-color: #423A3D;
  color: #ffffff;
}
.twitter-bs-wizard .twitter-bs-wizard-pager-link li a {
  padding: 0.38rem 0.75rem;
}

/*.twitter-bs-wizard .twitter-bs-wizard-pager-link li a {
  background-color: #556ee6;
}*/

/*job post form-wizard end*/
